.footer {
  background-image: url(../../../public/images/fundo.png);
  background-position: center;
  background-size: cover;
  background-color: #6278f7;
  width: 100%;
  height: 213px;
}

.footer section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    padding-top: 75px;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 2.12rem;
}

.social-media li{
    list-style-type: none;
}

.social-media li img{
    width: 20px;
}

.logo img{
    width: 166px;
    height: 63px;
}

.developerBy h5{
    color: #FFF;
    font-family: var(--font-montserrat);
    font-size: 20px;
    font-weight: 400;
}