    .btn {
        padding: 32px;
        margin-top: 40px;

        border: none;
        border-radius: 10px;
        background: var(--roxo);

        color: #FFF;
        font-family: var(--font-montserrat);
        font-size: 20px;
        font-weight: 700;
    }

    .btn:hover {
        color: var(--verde-100);
        transition: .5s;
    }